<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>ToGetHer - 스터디 그룹 매칭</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/book.jpeg" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">TGH</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                    </ul>
                    <ul class="navbar-nav me-right mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">My Page</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li  class="nav-item"><a id="profile" data-bs-target="#ProfileModal" data-bs-toggle="modal" class="dropdown-item" aria-current="page">Profile</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#!">Notice</a></li>
                                <li><a class="dropdown-item" href="#!">Study Group</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a id="logout" class="nav-link" onclick="redirectToUrl('/logout')">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="modal fade" id="ProfileModal" aria-hidden="true" aria-labelledby="ProfileModalLabel" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="ProfileModalTitle">My Profile</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="profile_div">
                            <div><b>Nickname : </b><span th:text="${member.nickname}"></span></div>
                            <div><b>Email : </b><span th:text="${member.email}"></span></div>
                            <div><b>Password : </b><span id="pw" th:text="${member.password}" style="display: none"></span>************
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ChangePasswordModal">Change</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="ChangePasswordModal" tabindex="-1" aria-labelledby="ChangePasswordModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Password change</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="get" action="/change/pw" onsubmit="submitNewPassword(event)">
                        <div class="modal-body">
                            <input type="password" id="modal_pass" placeholder="Current Password" onkeyup="checkCurrentPasswordMatch()">
                            <div id="current-password-match"></div><br>
                            <input type="password" id="modal_new_pass" name="newPassword" placeholder="New Password" onkeyup="checkPasswordMatch();"><br><br>
                            <input type="password" id="modal_new_pass_check" placeholder="New Password Check" onkeyup="checkPasswordMatch();">
                            <div id="password-match"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-target="#ProfileModal" data-bs-toggle="modal">Close</button>
                            <button type="button" id="change" class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Header-->
        <header class="bg-black py-3" >
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">ToGetHer</h1>
                    <p class="lead fw-normal text-white-50 mb-0">환영합니다! '다같이'는 자유로운 스터디 모임 사이트입니다!</p>
                    <button style="margin: 10px" class="btn btn-primary" data-bs-target="#NewNoticeModal" data-bs-toggle="modal">New Recruitment / Study Group</button>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="modal fade" id="NewNoticeModal" tabindex="-1" aria-labelledby="NewNoticeModalLabel" aria-hidden="true">
                <!-- 새 글 생성 모달 -->
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="NewNoticeTitle">Create Recruitment</h1>
                        </div>
                        <form method="get" action="/new" onsubmit="">
                            <select id="modal-select" class="form-select" aria-label="MenuList" style="width: 200px; margin: 16px" onchange="CreateModalBodyChange()">
                                <option selected value="1">Recruitment</option>
                                <option value="2" >Study Group</option>
                            </select>
                            <div id="modal-recruitment-body" class="modal-body">
                                <input class="form-control" placeholder="제목" style="margin-bottom: 10px">
                                <div class="input-group mb-3">
                                    <input type="file" class="form-control" id="inputGroupFile02">
                                </div>
                                <textarea class="form-control" placeholder="스터디 내용" style="height: 300px"></textarea>
                            </div>

                            <div id="modal-group-body" class="modal-body" style="display: none">
                                <input class="form-control" placeholder="제목" style="margin-bottom: 10px">
                                <input class="form-control" placeholder="소개" style="margin-bottom: 10px">
                                <textarea class="form-control" placeholder="내용"></textarea>
                                <div class="d-flex">
                                    <div class="form-check" style="margin-right: 10px">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="OpenRadio" checked onchange="handleRadioChange()" >
                                        <label class="form-check-label" for="OpenRadio">
                                            공개
                                        </label>
                                    </div>
                                    <div class="form-check" style="margin-right: 10px">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="DisOpenRadio" onchange="handleRadioChange()">
                                        <label class="form-check-label" for="DisOpenRadio">
                                            비공개
                                        </label>
                                    </div>
                                </div>
                                <input class="form-control" id="RadioPassword" type="password" placeholder="비밀번호" style="display: none">
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" id="create_btn" class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div style="float: right; margin-right: 50px;">
                <form class="d-flex" role="search">
                    <select class="form-select" aria-label="MenuList" style="margin-right: 10px">
                        <option selected>Total</option>
                        <option value="1">Recruitment</option>
                        <option value="2">Study Group</option>
                    </select>

                    <input class="form-control" type="search" placeholder="Search" aria-label="Search" style="width: 200px">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
            <div class="container px-4 px-lg-5 mt-5">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="recruitment-tab" data-bs-toggle="tab" data-bs-target="#recruitment" type="button" role="tab" aria-controls="recruitment" aria-selected="true">Recruitment</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="studyGroup-tab" data-bs-toggle="tab" data-bs-target="#studyGroup" type="button" role="tab" aria-controls="study" aria-selected="false">Study Group</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="recruitment" role="tabpanel" aria-labelledby="recruitment-tab">
                        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                            <th:block th:each="recruitment : ${recruitments}">
                                <div class="col mb-5">
                                    <div class="card h-100">
                                        <!-- Product image-->
                                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                                        <!-- Product details-->
                                        <div class="card-body p-4">
                                            <div class="text-center">
                                                <!-- Product name-->
                                                <h5 class="fw-bolder" th:text="${recruitment.title}" > recruitment title</h5>
                                                <!-- Product price-->
                                                <div style="font-size: 15px" th:text="${recruitment.context}">recruitment.context</div>
                                            </div>
                                        </div>
                                        <!-- Product actions-->
                                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                            <div class="text-center"><button class="btn btn-outline-dark mt-auto" href="#">More View</button></div>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="studyGroup" role="tabpanel" aria-labelledby="studyGroup-tab">
                        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                            <th:block th:each="studyGroup : ${studyGroups}">
                                <div class="col mb-5">
                                    <div class="card h-100">
                                        <!-- Product image-->
                                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                                        <!-- Product details-->
                                        <div class="card-body p-4">
                                            <div class="text-center">
                                                <!-- Product name-->
                                                <h5 class="fw-bolder" th:text="${studyGroup.title}" > Study Group title</h5>
                                                <!-- Product price-->
                                                <div style="font-size: 15px" th:text="${studyGroup.context}">Study Group.context</div>
                                            </div>
                                        </div>
                                        <!-- Product actions-->
                                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                            <div class="text-center"><button class="btn btn-outline-dark mt-auto" href="#">More View</button></div>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-black">
            <div class="container"><p class="m-0 text-center text-white"> &copy; ToGetHer 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
