<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToGetHer</title>
    <link rel="stylesheet" href="/css/login.css" type="text/css"/>
    <link rel="icon" type="image/x-icon" href="assets/book.jpeg" />
</head>
<body>
<div class="login-body">
    <div class="login-div">
    <h1>Login</h1>
    <form id="loginForm" action="/login-callback" method="post" onsubmit="return validateForm(event)">
        <table>
            <tr>
                <th><input id="Email" placeholder="Email" name="Email" required></th>
                <th rowspan="2"><button class="submit-button" type="submit">Login</button></th>
            </tr>
            <tr>
                <th><input id="Password" placeholder="Password" name="Password" type="password" required></th>
            </tr>
        </table>
        <div th:if="${param.error}" class="error-div" >
            <b style="color: red;">유저 정보가 일치하지 않습니다</b>
        </div>
    </form>
        <div>
            <button>Kakao Login</button>
            <button>Google Login</button>
            <button>Nave Login</button>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/loginScript.js"></script>
</body>
</html>