<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToGetHer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/signup.css" type="text/css"/>
</head>
<body>
<div class="signup-body">
    <div class="signup-div">
    <h1 style="color: white">Sign Up</h1>
    <form id="myForm" method="post" onsubmit="checkAllInputValue(event)">
        <table>
            <tr>
                <th><input id="Email" placeholder="Email" name="Email" required ></th>
                <th><button id="email-button" class="btn btn-secondary email-button" onclick="checkEmail()">Check Duplicate</button></th>
                <th rowspan="4"><button id="submit-button" class="btn btn-secondary submit-button">SignUp</button></th>
            </tr>
            <tr>
                <th><input id="Nickname" placeholder="NickName" name="Nickname" required></th>
                <th><button id="nick-button" class="btn btn-secondary nickname-button" onclick="checkNickname()">Check Duplicate</button></th>
            </tr>
            <tr>
                <th><input id="Password" placeholder="Password" name="Password" type="password" onkeyup="checkCurrentPasswordMatch()" onfocusout="validatePassword()" required></th>
                <th rowspan="2"><div id="current-password-match"></div></th>
            </tr>
            <tr>
                <th><input id="R-Password" placeholder="Reconfirm Password" type="password" onkeyup="checkCurrentPasswordMatch()" required></th>
            </tr>
        </table>
    </form>
    </div>
</div>
<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">이메일 인증</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><b>인증 번호가 발송되었습니다!</b></p>
                <form id="authForm" action="/auth-check" method="get">
                    <input id="authCode" name="authCode" placeholder="인증 번호를 입력하세요">
                    <button type="submit" id="submit-btn" class="btn btn-primary" onclick="checkAuthCode()">인증</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/signupScripts.js"></script>
</body>
</html>