<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Div Content Change</title>
  <style>
    .div-container {
      width: 200px;
      height: 200px;
      background-color: lightgray;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    .div-content {
      font-size: 24px;
      color: black;
    }
  </style>
</head>
<body>
<div class="div-container" onclick="changeDivContent()">Click Me</div>
<div id="content" class="div-content">Original Content</div>

<script>
  function changeDivContent() {
    var divContent = document.getElementById("content");
    divContent.innerHTML = "New Content";
  }
</script>
</body>
</html>
